# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
matplotlib
networkx
requests
WTForms
# The following packages are not avaiable to Conda and must be pip-installed:
# mwviews